@model ProductCatalog.DAL.Entities.User

@{
    ViewData["Title"] = "Заблокировать пользователя";
}

@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="BlockedUser" class="form-auth">
    <label asp-for="Id">Id</label>
    <br/>
    <input asp-for="Id" />
    <br />

    <input type="submit" value="Заблокировать" />
    <br />
    <a asp-action="Panel">Назад</a>
</form>