@model ProductCatalog.DAL.Entities.Product

@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="CreateProductsForUser" class="form-auth">
    <h2>Добавление продукта</h2>
    <label asp-for="Id">Id</label>
    <br />
    <input asp-for="Id" />
    <br />
    <label asp-for="ProductName">ProductName</label>
    <input asp-for="ProductName" />
    <br />
    <label asp-for="ProductDescription">ProductDescription</label>
    <input asp-for="ProductDescription" />
    <br />
    <label asp-for="Price">Price</label>
    <input asp-for="Price" />
    <br />
    <label asp-for="GeneralNote">GeneralNote</label>
    <input asp-for="GeneralNote" />
    <br />
    <label asp-for="CategoryId">CategoryId</label>
    <br />
    <input asp-for="CategoryId" />
    <br />
    <input type="submit" value="Добавить продукт" />
    <br />
    <a asp-action="Index">Back to List</a>
</form>