@model ProductCatalog.DAL.Entities.Product

<hr />
@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="CreateProducts" class="form-auth">
    <h2>Добавление продукта</h2>
    <br/>
    <label asp-for="Id">Id</label>
    <br/>
    <input asp-for="Id" />
    <br />
    <label asp-for="ProductName">ProductName</label>
    <br />
    <input asp-for="ProductName" />
    <br />
    <label asp-for="ProductDescription">ProductDescription</label>
    <br />
    <input asp-for="ProductDescription" />
    <br />
    <label asp-for="SpecialNote">SpecialNote</label>
    <br />
    <input asp-for="SpecialNote" />
    <br />
    <label asp-for="Price">Price</label>
    <br />
    <input asp-for="Price" />
    <br />
    <label asp-for="GeneralNote">GeneralNote</label>
    <br />
    <input asp-for="GeneralNote" />
    <br />
    <label asp-for="CategoryId">CategoryId</label>
    <br />
    <input asp-for="CategoryId" />
    <br />
    <input type="submit" value="Добавить" />
    <br />
    <a asp-action="Index">Назад</a>
</form>