@model ProductCatalog.DAL.Entities.User

@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="CreateUser" class="form-auth">
    <h2>Добавление пользователя</h2>
    <br />
    <label asp-for="Id">Id</label>
    <br />
    <input asp-for="Id" />
    <br />
    <label asp-for="Username">Username</label>
    <br />
    <input asp-for="Username" />
    <br />
    <label asp-for="PasswordHash">PasswordHash</label>
    <br />
    <input asp-for="PasswordHash" />
    <br/>
    <label asp-for="Role">Role</label>
    <br />
    <input asp-for="Role" />
    <br/>
    <input type="submit" value="Добавить пользователя" />
    <br />
    <a asp-action="Index">Назад</a>
</form>