@model ProductCatalog.DAL.Entities.Category

@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="CreateCategory" class="form-auth">
    <h2>Добавление категории</h2>
    <br/>
    <label asp-for="Id">Id</label>
    <br />
    <input asp-for="Id" />
    <br />
    <label asp-for="CategoryName">CategoryName</label>
    <br />
    <input asp-for="CategoryName" />
    <br />

    <input type="submit" value="Создать категорию" />
    <a asp-action="Index">Назад</a>
</form>