@model ProductCatalog.DAL.Entities.Category

@{
    ViewData["Title"] = "DeleteCategory";
}

@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="DeleteCategory" class="form-auth">
    <label asp-for="Id">Id</label>
    <br />
    <input asp-for="Id" />
    <br />

    <input type="submit" value="Удалить пользователя" />
    <br />
    <a asp-action="Index">Назад</a>
</form>