@model ProductCatalog.DAL.Entities.Product

@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="EditProduct">
    <h2>Редактирование продукта</h2>
    <br/>
    <label asp-for="Id">Id</label>
    <br />
    <input asp-for="Id" />
    <br />
    <label asp-for="ProductName">ProductName</label>
    <input asp-for="ProductName" />
    <br />
    <label asp-for="ProductDescription">ProductDescription</label>
    <input asp-for="ProductDescription" />
    <br />
    <label asp-for="SpecialNote">SpecialNote</label>
    <input asp-for="SpecialNote" />
    <br />
    <label asp-for="Price">Price</label>
    <input asp-for="Price" />
    <br />
    <label asp-for="GeneralNote">GeneralNote</label>
    <input asp-for="GeneralNote" />
    <br />
    <label asp-for="CategoryId">CategoryId</label>
    <br />
    <input asp-for="CategoryId" />
    <br />
    <input type="submit" value="Редактировать продукт" />
    <br />
    <a asp-action="Index">Назад</a>
</form>