@model ProductCatalog.DAL.Entities.User

@{
    ViewData["Title"] = "EditPasswordUser";
}
<form asp-action="EditPasswordUser">
    <label asp-for="Username">Username</label>
    <input asp-for="Username" />
    <br />
    <label asp-for="PasswordHash">PasswordHash</label>
    <input asp-for="PasswordHash" />
    <input type="submit" value="Edit" />
    <a asp-action="Panel">Back to List</a>
</form>