@model ProductCatalog.DAL.Entities.User

@{
    ViewData["Title"] = "Изменить пароль пользователя";
}

@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="EditPasswordUser" class="form-auth"> 
    <label asp-for="Username">Username</label>
    <br/>
    <input asp-for="Username" />
    <br />
    <label asp-for="PasswordHash">PasswordHash</label>
    <br />
    <input asp-for="PasswordHash" />
    <br />
    <input type="submit" value="Изменить пароль пользователя" />
    <br />
    <a asp-action="Panel">Назад</a>
</form>