@model ProductCatalog.DAL.Entities.UserDto

@{
    ViewData["Title"] = "Аутентификация для админа";
}

@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="LoginForAdmin" asp-controller="Home" class="form-auth">
    <h2>Аутентификация для админа</h2>
    <p>
        <label asp-for="Username">Имя</label><br />
        <input type="text" asp-for="Username" />
    </p>
    <p>
        <label asp-for="Password">Пароль</label><br />
        <input type="password" asp-for="Password" />
    </p>
    <p>
        <input type="submit" value="Войти" />
    </p>
</form>

