@model ProductCatalog.DAL.Entities.UserDto

@{
    ViewData["Title"] = "Авторизация";
}
@TempData["successMessage"]
@TempData["errorMessage"]
<hr />

    <form asp-action="Register" asp-controller="Home" class="form-auth">
    <h2>Авторизация</h2>
        <p>
            <label asp-for="Username">Имя пользователя</label><br />
            <input type="text" asp-for="Username" />
        </p>
        <p>
            <label asp-for="Password">Пароль</label><br />
            <input type="password" asp-for="Password" />
        </p>
        <p>
            <input type="submit" value="Авторизация" />
        </p>
    </form>
